* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  background-color: #eee;
}
/* .fondo { 
  margin: 16px;
  background-color: hsl(120, 60%, 70%);
  opacity: 0.8;
} */
.fondo { 
  margin: 16px;
  background-image: linear-gradient(red, yellow);
}
.sombras { 
  margin: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.text {
  color: white;
  text-shadow: 0px 1px 2px rgba(255, 0, 0, 0.6);
}
