* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #eee;
}
#over { 
  width: 100px;
  height: 100px;
  overflow: auto; /* ? overflow: scroll nos crea ese efecto con las barras para hacer el scroll */
  overflow-x: scroll;
}