* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
#invisible { 
  display: none;
}
p.ancho { 
  max-width: 350px;
  background-color: #f00;
  margin: auto; /* * esto centra el div  */
  position: fixed; /* * Relative es como el ancla y absolut es el barco / Fixed deja el contenido en la pantalla  */
  right: 15px;
  top: 0px;
  bottom: 0px;
}