* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  background-color: #eee;
}
.box { 
  position: relative;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  transition: transform 1.5s; /* propiedad CLAVE PARA DARLE UN DELAY a la animacion en CSS */
}
.box:hover { 
  transform: scale(1.2);
  transition-delay: 200ms;
  transition: transform 1s;
}
